.page-with-sidebar{ class: "#{('page-with-new-sidebar' if defined?(@new_sidebar) && @new_sidebar)} #{page_gutter_class}" }
  - if show_new_nav?
    - if defined?(nav) && nav
      = render "layouts/nav/#{nav}"
  - else
    - if defined?(nav) && nav
      .layout-nav
        .container-fluid
          = render "layouts/nav/#{nav}"
    - if content_for?(:sub_nav)
      = yield :sub_nav
  .content-wrapper{ class: "#{(layout_nav_class unless show_new_nav?)}" }
    .alert-wrapper
      = render "layouts/broadcast"
      - if show_new_nav?
        - if content_for?(:new_global_flash)
          = yield :new_global_flash
        - unless @hide_breadcrumbs
          = render "layouts/nav/breadcrumbs"
      = render "layouts/flash"
      = yield :flash_message
    %div{ class: "#{(container_class unless @no_container)} #{@content_class}" }
      .content{ id: "content-body" }
        = yield
